.panel-presentation {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.restriction_title{
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}
.tabs {
  margin: 0;
  padding: 0;
}
.tabs nav {
  padding: 0;
  margin: 30px 0 0 0;
  display: block;
}
.tabs nav a {
  padding: 8px 12px;
  background-color: none;
  color: #1AA5DE;
  text-decoration: none;
  margin: 0 5px 0 1px;
  font-size: 14px;
  vertical-align: top;
  position: relative;
  top: -8px;
  text-transform: uppercase;
}
.tabs nav a:hover {
  border: 1px solid #ddd;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  margin: 0 4px 0 0;
  text-decoration: none;
  color: #F24B72;
}
.tabs nav a.active {
  border-radius: 3px 3px 0 0;
  background-color: #F24B72;
  text-decoration: none;
  border: 1px solid #ccc;
  border-bottom: none;
  margin: 0 4px 0 0;
  font-size: 14px;
  color: #fff;
}
.tabs .content {
  margin: 0;
  padding: 10px;
  background-color: #F5F8F9;
  border: 1px solid #ccc;
  border-radius: 0 3px 3px 3px;
}
.table_title{
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
.table tr td, .table thead tr th{
  text-align: left;
}
.bodycontainer { 
  max-height: 450px; 
  width: 100%; 
  margin: 0; 
  overflow-y: auto; 
}

.table-scrollable { 
  margin: 0; 
  padding: 0; 
}

i span{
  padding-left: 5px;
}
.left{
  text-align: left !important;
  width: 20%
}
.show_method{
  display: block;
}
.hide_method{
  display:none;
}
.settings_panel{
  margin-top: 15px;
}
.spacer{
  margin-bottom: 10px;
}

label.multisafepay{
    width:100px;
    float:left;
    text-align:right;
    font-size: 15px;
    margin-top:-20px; 
    margin-left:-10px; 
    margin-right:10px; 
    margin-bottom:2px;  
    display: block;
    color: #777;
    font-weight: normal;
}

input.multisafepay{
    width:175px;
    font-size: 15px;
    margin-top:-20px; 
    margin-left:-15px; 
    margin-right:0px; 
    margin-bottom:2px;  
    display: block;
    color: #232323;
    font-weight: normal;
}
